/**** Phone ****/
@media (max-width: 600px)
{
    .icon-size {
        width: 10vw; /* Adjust based on viewport width */
        height: auto; /* Maintain aspect ratio */
        object-fit: contain;
    }

    .spacing {
        width: calc(100% - 10vw);
        margin: 0 auto;
    }

    .row-1 { margin-top: 28vh; }
}

/**** Desktop ****/
@media (min-width: 601px)
{
    .icon-size {
        width: 5vw; /* Adjust based on viewport width */
        height: auto; /* Maintain aspect ratio */
        object-fit: contain;
    }

    .spacing {
        width: calc(100% - 40vw);
        margin: 0 auto;
    }

    .row-1 { margin-top: 32vh; }
}

#github {
    width: 47%;
    height: 47%
}

.custom-spacing {
    padding-top: 5em;
}

a {
    text-decoration: none;
    color: #000;
}

#contact {
    text-decoration: none;
    color: #000;
}

.text {
    /* font-weight: bold; */
    font-family: "Gill Sans", sans-serif;
}

#blog_link {
    font-size: 150%;
    color: rgb(214, 226, 230) !important
}

/**** Blog ****/
div.blog_post a {
    font-weight: bold;
    color: rgb(48, 125, 151)
}

/*
.blog_post {
    font-size: 120%;
    font-family: Garamond, times, serif;
}
*/