/**** Phone ****/
@media (max-width: 600px)
{
    .spacing {
        width: calc(100% - 10vw);
        margin: 0 auto;
    }

    .row-1 { margin-top: 28vh; }

    /**** Contact ****/  
    .contact-container {
        margin-top: 35vh;
    }
}

/**** Desktop ****/
@media (min-width: 601px)
{
    .spacing {
        width: calc(100% - 40vw);
        margin: 0 auto;
    }

    .row-1 { margin-top: 32vh; }

    /**** Contact ****/
    .contact-container {
        margin-top: 40vh;
    }
}

.spaced-words {
    white-space: pre;
}

a {
    text-decoration: none;
    color: #000;
}

.text {
    font-family: "Gill Sans", sans-serif;
}

/**** Blog ****/
div.blog_post a {
    font-weight: bold;
    color: rgb(48, 125, 151)
}

.blog_post {
    font-size: 120%;
    font-family: Garamond, times, serif;
}

/**** Contact ****/
.center-content {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1em; /* Space between icons */
}

#email {
    font-size: 200%;
}

#github {
    height: 4vh;
    width: auto
}

#linkedin {
    height: 4vh;
    width: auto
}